# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Lab4-Metody-Numeryczne/.vs/Lab4-Metody-Numeryczne/v16/ipch/AutoPCH/515a366211d3f090
/Lab4-Metody-Numeryczne/.vs/Lab4-Metody-Numeryczne/v16/Browse.VC.db
/Lab4-Metody-Numeryczne/.vs/Lab4-Metody-Numeryczne/v16/Browse.VC.opendb
/.vs/Lab4-Metody-Numeryczne/v16
/.vs
/Lab4-Metody-Numeryczne/.vs/Lab4-Metody-Numeryczne/v16
/Lab4-Metody-Numeryczne/Debug
